body {
  font-family: Arial, Helvetica, sans-serif;
  font-style: italic;
  padding: 25px;
  margin-left: 100px;
  background: url("LOGOS/bball_court.jpeg");
  background-size: auto;
  background-repeat: no-repeat;
  background-size: cover;
  display: inline-block;
}

#team-collection.card img {
  align-content: center;
  justify-content: center;
  margin: 2rem;
}

.card {
  text-align: center;
  border: black solid 2px;
  background-color: rgb(0, 191, 255, 0.4);
  width: 15rem;
  height: 20rem;
  border-radius: 20px;
}
.card img {
  align-content: center;
  justify-content: center;
}

.team-logo {
  display: flex;
  align-content: center;
  justify-content: center;
  height: 10rem;
  /* width: fit-content; */
  align-content: center;
}

.playbtn {
  display: block;
  align-self: center;
}

#court-container {
  display: flex;
  justify-content: space-evenly;
  gap: 470px;
  /* margin-left: 80px; */
}
#conference-container {
  display: flex;
  justify-content: space-evenly;
}
